* {
 background-color: rgb(230, 207, 207);
}

nav {
    justify-items: right;
    padding: 1rem;
}

header {
    place-items: center;
    display: grid;
    background-color:  rgb(217, 106, 106);
    margin-bottom: 3rem;
}

header h1 {
    background-color: rgb(217, 106, 106);
    color: azure;
}

.button {
    background-color: azure;
    color: rgb(217, 106, 106);
    width: fit-content;
    height: fit-content;
    margin: 2rem;
    padding: 1rem;
    border: solid,rgb(217, 106, 106), 2px;
    border-radius: 5%;
}