/*blacknwhite*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: "Courier New", Courier, monospace;
}

figure img {
  max-width: 100%;
  /* aspect-ratio: 3/2;
  object-fit: cover;
  object-position: center; */
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.44rem;
}
