body{
  background-color: #F6F0E2;
}
/*SIDE NAV*/
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  span {
    padding: 10px;
    font-size: 20px;
    border: #000000;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  /*HEADER*/
header {
  background-color: #E8D2A7;
  height: fit-content;

}

.open {
  display:inline-block;
  margin-right:10px;
} 

.tarot {
  display:inline-block;
} 

main {
  padding: auto;
  margin: auto;
}

#txt {
  padding: 30px;
}

/*SVG ANIMATION*/
.boat{
  fill:#754C24;stroke:#000000;stroke-width:3;stroke-miterlimit:10;
  animation-name: boatMoves;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  }
.flag{
  fill:#AA0900;stroke:#000000;stroke-width:3;stroke-miterlimit:10;
  animation-name: flagMoves;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  }
.waves_back{
  fill:#0071BC;stroke:#090074;stroke-width:3;stroke-miterlimit:10;
  animation-name: waves_backMoves;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  }
.waves_front{
  fill:#29ABE2;stroke:#000066;stroke-width:3;stroke-miterlimit:10;
  animation-name: waves_frontMoves;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  }


@keyframes boatMoves{
  50%{transform: rotate(3deg)}
  100%{transform: rotate(0deg)}
}

@keyframes flagMoves{
  50%{transform: rotate(3deg)}
  100%{transform: rotate(0deg)}
}

@keyframes waves_backMoves{
  0% { transform : translateX(-100px)}
  50% { transform : translateX(100px)}
  100% { transform : translateX(-100px)}
}

@keyframes waves_frontMoves{
  0% { transform : translateX(-75px)}
  50% { transform : translateX(75px)}
  100% { transform : translateX(-75px)}
}

/*OTHER*/

#numb {
  padding-left: 50px;
  padding-right: 50px;
}

#numbt {
  padding-left: 20px;
  padding-right: 20px;
}

  /*MINOR ANIMATION*/
  .suits:hover {
    transform: scale(1.25);
    transition: 500ms;
}
